*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.colFoto{
    margin: 0;
    padding: 0;
}



.contador{
    background-color: aquamarine;
    
}

.timer-container{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    width: 100%;
    height: 100%;

}

.foto{
    width: 100vw;
    height: 100vw;
}

.reloj {
    margin-left: 1rem;
    
}

.section p {
    margin: 0;
    padding: 0;
}

.iconoFiesta{
    width: 200px;
    opacity: 1;
}

.fotosGaleria{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.fotosGaleria:hover{
    opacity: 0.8;
    scale: 1.1;
    transition: 1s;
}

.sobremi{
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    font-size: 3rem;
}

.confirmacion{
    text-align: center;
    padding-top: 2rem;
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.boton {
    background-color: red;
    color: black;
    border-radius: 10px;
    padding: 0.5rem;
}


.galeria-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.galeria-container2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}



@media (max-width: 761px) {
    .fotosGaleria{
        max-width: 200px;
        max-height: 200px;
        border-radius: 10px;
        align-items: center;
    }
  }
  
  @media (max-width: 573px) {
    .fotosGaleria{
        max-width: 200px;
        max-height: 200px;
        border-radius: 15px;
        align-items: center;
        
    }
  }
  
  @media (min-width: 447px){
    .fotosGaleria{
        max-width: 200px;
        max-height: 200px;
        border-radius: 15px;
        align-items: center;
    }
}

.galeria{
    background-color: rgb(109, 109, 202);
}