*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/public/fonfoBody.jpeg");
    width: 100%;
    height: 100vh;
    background-size: 100%;
}
.colFoto{
    margin: 0;
    padding: 0;
}



.contador{
    background-image: url("/public//fondoAsistemcia.jpeg");
    
}

.timer-container{
    display: flex;
    justify-content: center;
    background-image: url("/public//fondoAsistemcia.jpeg");
    width: 100%;
    height: 100%;
    
}

.foto{
    width: 100vw;
    
}

.reloj {
    margin-left: 1rem;
    
}

.section p {
    margin: 0;
    padding: 0;
}

.section{
    margin-bottom: 1.5rem;
}

.iconoFiesta{
    width: 200px;
    opacity: 1;
}

.fotosGaleria{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.fotosGaleria:hover{
    opacity: 0.8;
    scale: 1.1;
    transition: 1s;
}

.sobremi{
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.confirmacion{
    text-align: center;
    padding-top: 2rem;
    background-image: url("/fondoAsistemcia.jpeg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.boton {
    background-image: url("/fondoAsistemcia.jpeg");
    color: black;
    border-radius: 10px;
    padding: 0.5rem;
    border-radius: 1px solid;
}

.boton:hover{
    scale: 1.1;
    transition: 1s;
}


.galeria-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.galeria-container2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:  1.5rem;
    padding-top: 1.5rem;
    
}



@media (max-width: 761px) {
    .fotosGaleria{
        max-width: 200px;
        max-height: 200px;
        border-radius: 10px;
        align-items: center;
    }
  }
  
  @media (max-width: 573px) {
    .fotosGaleria{
        max-width: 200px;
        max-height: 200px;
        border-radius: 15px;
        align-items: center;
        
    }
  }
  
  @media (min-width: 350px){
    .fotosGaleria{
        width: 150px;
        height: 150px;
        border-radius: 15px;
        align-items: center;
    }
}

/* .galeria{
    background-image: url("/public/fondo.jpeg");
    
} */


