*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.colFoto{
    margin: 0;
    padding: 0;
}



.contador{
    background-color: aquamarine;
    
}

.timer-container{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    width: 100%;
    height: 100%;

}

.foto{
    width: 100vw;
}

.reloj {
    margin-left: 1rem;
    
}

.section p {
    margin: 0;
    padding: 0;
}

.iconoFiesta{
    width: 200px;
    opacity: 1;
}

.fotosGaleria{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.sobremi{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.confirmacion{
    text-align: center;
    margin-top: 2rem;
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.boton {
    background-color: red;
    color: black;
    border-radius: 10px;
    padding: 0.5rem;
}





@media (max-width: 761px) {
    .fotosGaleria{
        width: 150px;
        height: 1500px;
        border-radius: 10px;
    }
  }
  
  @media (max-width: 573px) {
    .fotosGaleria{
        width: 150px;
        height: 1500px;
        border-radius: 10px;
    }
  }
  
  @media (max-width: 410px){
    .fotosGaleria{
        width: 150px;
        height: 1500px;
        border-radius: 10px;
    }
  }